.tid_bubble {
	max-width: 238px !important;
	max-height: 65px !important;
}
#container_bg {
	min-height: 150px;
}
/* Tab */
#maptab {
	text-transform: none !important;
}
/* Structure */
#map {
	margin: 1%;
	width: 98%;
}
#map .column2 {
	margin-left: 260px;
}
/* Box */
#map .boxContent  {
	padding: 10px;
}
#map input {
	height: 22px;
	padding: 0px 4px;
	/* text-align: center; */
	background: transparent;
	/* cursor: pointer; */
	border: 1px inset;
	border-color: #4e5162;
	font-size: 15px;
	color: #FEB500;
	width: 50px;
	margin-top: 0px;
}
#map .confLine {
	width: 49px;
	display: inline-block;
	margin-left: calc((100% - 49px * 7) / 8);
}
#map .confLine > img {
	margin-left: calc( 50% - 13px );
}
#map .yesnoblock {
	cursor: pointer;
}
#map .yesnoblock > .mask {
	margin-left: -48px;
}
#map .yesnoblock > .opt_act {
	margin-left: -26px;
}
/* Medals */
#map ul {
	text-align: center;
}
#map .column2  img {
	vertical-align: middle;
	height: 26px;
}
#map [class$="medal"] p > img {
	position: relative;
	top: -3px;
	height: 15px;
}
#map [class$="medal"] {
	border-width: 2px;
	display: inline-block;
	zoom: 1;
	border-style: solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #090a61;
	font-size: 100%;
	width: 95px;
	padding: 6px;
	margin: 4px 4px 4px 4px;
	font-variant: small-caps;
	vertical-align: bottom;
}
#map [class$="medal"]:hover {
	background-color: #ECFFA2;
	border-color: #BCFFA2 #40E000 #49E000 #40E000;
	-moz-box-shadow: inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	-webkit-box-shadow: inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	box-shadow: inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
}
/* Gold Medal */
#map .goldmedal {
	border-color: yellow orange orange orange;
	-moz-box-shadow: inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	-webkit-box-shadow: inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	box-shadow: inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	background-color: #FCF5C2;
	padding: 8px 6px !important;
}
/* Blue Medal */
#map .bluemedal {
	border-color: #A6EEFB #01c3df #01c3df #01c3df;
	-moz-box-shadow: inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	-webkit-box-shadow: inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	box-shadow: inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	background-color: #c2f3fc;
	/*height: 95px;*/
}
#map .bluemedal .bodychar {
	margin-left: calc( 50% - 14px );
	position: relative;
	opacity: 1;
	width: 28px;
	height: 44px;
	background: url('http://mush.twinoid.es/img/art/char.png') no-repeat;
	/*z-index: 4;*/
}
#map .bluemedal > div:nth-child(2) {
	position: relative;
	height: 0px;
	/*width: 90px;*/
	top: -28px;
	/*z-index: 4;*/
}
#map .bluemedal > div:nth-child(3) {
	position: relative;
	/*top: -17px;*/
}
/* Ruby Medal */
#map .rubymedal {
	border-color: #FBA6B0 #DF011C #DF0125 #DF011C;
	-moz-box-shadow: inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	-webkit-box-shadow: inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	box-shadow: inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	background-color: #FCC2C9;
	min-height: 92px;
}
/* Death Medal */
#map .deathmedal {
	border-color: #BDBDBD #3E3E3E #434343 #3E3E3E;
	-moz-box-shadow: inset 0px 0px 4px #606060, 0px 0px 4px #606060, 0px 2px 4px #606060;
	-webkit-box-shadow: inset 0px 0px 4px #606060, 0px 0px 4px #606060, 0px 2px 4px #606060;
	box-shadow: inset 0px 0px 4px #606060, 0px 0px 4px #606060, 0px 2px 4px #606060;
	background-color: #D2D2D2;
	min-height: 92px;
}
#map .stroke {
	color: white;
	text-shadow:
		-1px -1px 5px black,
		-1px 0px 5px black,
		-1px 1px 5px black,
		0px 1px 5px black,
		0px -1px 5px black,
		1px 1px 5px black,
		1px 0px 5px black,
		1px -1px 5px black;
	font-weight: 600;
	font-size: 21px;
}

/* Anything */
.human {
	background-position: -2px -2018px !important;
}
#map td {
	vertical-align: top;
}
#map .column {
	position: absolute;
}
#map .column ul {
	padding: 15px;
}
#map .empty_tid {
	width: 260px;
}
#map .tid_bgRight {
	height: 199px;
}
#map .bgtablesummar {
	padding-top: 1px;
	padding-bottom: 1px;
	position: relative;
	margin-bottom: 15px;
}
#map .awards {
	margin-top: 20px;
}
.nshipinput	{ width: 35px; height: 16px; padding-right: 3px; text-align: right; background: transparent; cursor: pointer;
			border: 1px inset; border-color: #4e5162; font-size: 15px; color: #FEB500; }
.nshipinput:hover { border: 1px inset; border-color: white; color: white; }
.nshipinput:focus { background-color: #FE7D00; border: 1px inset; border-color: #FEB500; color: white; }
#map ul li.rubymedal > div > div,
#map ul li.bluemedal > div > div {
	width: 80px;
	position: relative;
	left: -26px;
	top: 16px;
}
.li_title {
	color: #fff;
	text-shadow:
		-1px -1px 2px black,
		1px -1px 2px black,
		1px 0 2px black,
		-1px 0 2px black,
		-1px 1px 2px black,
		1px 1px 2px black;
	font-weight: 900;
	font-size: 13px;
}
.death_text {
	font-size: 12px;
	width: 76px;
	padding: 0 2px;
}
.stroke {
	color: #ff4059;
	text-shadow:
		-1px -1px 5px blue,
		-1px 0px 5px blue,
		-1px 1px 5px blue,
		0px 1px 5px blue,
		0px -1px 5px blue,
		1px 1px 5px blue,
		1px 0px 5px blue,
		1px -1px 5px blue;
	font-weight: 600;
	font-size: 21px;
}
#map ul li.rubymedal div ul.shiplist,
#map ul li.bluemedal div ul.shiplist,
#map ul li.goldmedal div ul.shiplist {
	display: none;
}
#map ul li.rubymedal div ul.shiplist a.ship,
#map ul li.bluemedal div ul.shiplist a.ship,
#map ul li.goldmedal div ul.shiplist a.ship {
	display: block;
	width: 85px;
	height: 18px;
	font-size: 13px;
	text-decoration: none !important;
	font-variant: normal;
	color: #090a61;
	text-shadow: 1px 1px 5px #FFF;
}
#map ul li.rubymedal div ul.shiplist a.ship img.icon_char_ship,
#map ul li.bluemedal div ul.shiplist a.ship img.icon_char_ship,
#map ul li.goldmedal div ul.shiplist a.ship img.icon_char_ship {
	position: relative;
	top: -3px;
}
#map ul li.rubymedal div ul.shiplist a.ship:hover,
#map ul li.bluemedal div ul.shiplist a.ship:hover,
#map ul li.goldmedal div ul.shiplist a.ship:hover {
	color: #ff4059;
	text-shadow: 1px 1px 0px #000;
}
#mapdata ul li.rubymedal:hover > div ul.shiplist,
#mapdata ul li.bluemedal:hover > div ul.shiplist,
#mapdata ul li.goldmedal:hover > div ul.shiplist {
	display: block;
	position: relative;
	width: 102px;
	left: 85px;
	top: 0px;
	text-align: right;
	z-index: 50;
	max-height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px;
	border: 0px;
}
#mapdata ul li.rubymedal:hover > div ul.shiplist,
#mapdata ul li.bluemedal:hover > div ul.shiplist {
	left: 60px;
}
#map ul li.rubymedal div ul.shiplist li,
#map ul li.bluemedal div ul.shiplist li,
#map ul li.goldmedal div ul.shiplist li{
	text-align: left;
	margin: 0px;
	display: block !important;
	width: 85px;
	height: auto;
	padding: 0px 5px 0 5px !important;
	border-width: 1px;
}
#map ul li.rubymedal div ul.shiplist li {
	border-color: #FBA6B0 #DF011C #DF0125 #DF011C;
	-moz-box-shadow: inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	-webkit-box-shadow: inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	box-shadow: inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	background-color: #FCC2C9;
}
#map ul li.bluemedal div ul.shiplist li {
	border-color: #A6EEFB #01c3df #01c3df #01c3df;
	-moz-box-shadow: inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	-webkit-box-shadow: inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	box-shadow: inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	background-color: #c2f3fc;
}
#map ul li.goldmedal div ul.shiplist li {
	border-color: yellow orange orange orange;
	-moz-box-shadow: inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	-webkit-box-shadow: inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	box-shadow: inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	background-color: #FCF5C2;
}
#map ul li.rubymedal div ul.shiplist li:hover,
#map ul li.bluemedal div ul.shiplist li:hover,
#map ul li.goldmedal div ul.shiplist li:hover {
	background-color: #ECFFA2;
	border-color: #BCFFA2 #40E000 #49E000 #40E000;
	-moz-box-shadow: inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	-webkit-box-shadow: inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	box-shadow: inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
}
div.links {
	height: 0px;
}
div.links > ul::-webkit-scrollbar {
	width: 3px;
}
div.links > ul::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
div.links > ul::-webkit-scrollbar-thumb {
	background: #1A1B57;
}
div.links > ul::-webkit-scrollbar-track {
	background: #576077;
}
/* Slider CSS */
#map .ui-widget-content {
	border: none !important;
	background: none !important;
	color: #fff;
}
#map .map-slider {
	display: inline-block !important;
	width: 90% !important;
	height: 17px;
	margin-top: 3px;
	margin-left: 14px !important;
}
#map .ui-slider-range {
	background: transparent url("/img/design/xp_completion_fill.png") no-repeat center top;
	/*height: 17px !important;*/
	/*margin-left: 0px;*/
	font-size: .8em;
	padding-top: .3em;
}
#map [class^=map-handle-]{
	color: white;
	width: 0px !important;
	border: none !important;
	height: 17px;
	margin-top: 0.3em;
	background: none !important;
}
#map .map-handle-left{
	margin-left: 0px !important;
	/*text-align: right;*/
}
#map .map-handle-right{
	margin-left: 0px !important;
	/*text-align: left;*/
}
#map .compframe {
	width: 290px;
	height: 34px;
	background: transparent url("/img/design/xp_completion.png") no-repeat left top;
	padding-top: 1px;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}
