.nshipinput	{ width: 35px; height: 16px; padding-right: 3px; text-align: right; background: transparent; cursor: pointer;
			border: 1px inset; border-color: #4e5162; font-size: 15px; color: #FEB500; }
.nshipinput:hover { border: 1px inset; border-color: white; color: white; }
.nshipinput:focus { background-color: #FE7D00; border: 1px inset; border-color: #FEB500; color: white; }
.bodychar {
	position: relative;
	opacity: 1;
	width: 28px;
	height: 44px;
	background: url('http://mush.twinoid.es/img/art/char.png') no-repeat;
	z-index: 4;
}
#profile #ProfileData > ul, ul.tabletitle {
	padding: 0px 0px 15px 0px;
}
#ProfileData ul li.stats {
	border-width : 1px;
	border-color : yellow orange orange orange;
	-moz-box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	-webkit-box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	background-color: #FCF5C2;
	color : #090a61;
	font-size:100%;
	width:80px;
	padding: 4px 0px 15px 0px;
	margin:4px 4px 4px 4px;
	font-variant:small-caps;
}
#ProfileData ul li.charstat {
	border-width : 1px;
	border-color : #A6EEFB #01c3df #01c3df #01c3df;
	-moz-box-shadow : inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	-webkit-box-shadow : inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	box-shadow : inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	background-color : #c2f3fc;
	color : #090a61;
	font-size:100%;
	width:80px;
	margin:4px 4px 4px 4px;
	font-variant:small-caps;
	padding: 6px 9px 9px 9px
}
#profile #ProfileData #dies-stats > li {
	height:75px;
	vertical-align: bottom;
}
#ProfileData ul li.diestats {
	border-width : 1px;
	border-color : #FBA6B0 #DF011C #DF0125 #DF011C;
	-moz-box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	-webkit-box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	background-color: #FCC2C9;
	color : #090a61;
	font-size:100%;
	width:80px;
	margin:4px 4px 4px 4px;
	font-variant:small-caps;
	padding: 0 9px 9px 9px
}
#ProfileData ul li.diestats:hover,
#ProfileData ul li.stats:hover {
	background-color: #ECFFA2;
	border-color : #BCFFA2 #40E000 #49E000 #40E000;
	-moz-box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	-webkit-box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
}
.stroke {
	color: #ff4059;
	text-shadow:
		-1px -1px 0 blue,
		1px -1px 0 blue,
		-1px 1px 0 blue,
		1px 1px 0 blue;
	font-weight: 900;
	font-size:26px;
}
#ProfileData ul li.diestats ul.shiplist,
#ProfileData ul li.stats ul.shiplist {
	display: none;
}
#ProfileData ul li.diestats ul.shiplist a.ship,
#ProfileData ul li.stats ul.shiplist a.ship {
	display: block;
	width: 85px;
	height: 18px;
	font-size: 13px;
	text-decoration: none! important;
	font-variant: normal;
	color : #090a61;
	text-shadow: 1px 1px 5px #FFF;
}
#ProfileData ul li.diestats ul.shiplist a.ship img.icon_char_ship,
#ProfileData ul li.stats ul.shiplist a.ship img.icon_char_ship {
//	vertical-align: initial;
	padding-bottom: 5px;
}
#ProfileData ul li.diestats ul.shiplist a.ship:hover,
#ProfileData ul li.stats ul.shiplist a.ship:hover {
	color: #ff4059;
	text-shadow: 1px 1px 0px #000;
}
#ProfileData ul li.diestats:hover > ul.shiplist,
#ProfileData ul li.stats:hover > ul.shiplist {
	display: block;
	position: relative;
	width: 100px;
//	left: -10px;
//	bottom: -125px;
	left: 85px;
	top: 0px;
	text-align: right;
	z-index: 50;
	height: 0px;
	padding: 0px;
	border: 0px;
}
#ProfileData ul li.diestats ul.shiplist li,
#ProfileData ul li.stats ul.shiplist li{
	text-align: left;
	margin: 0px;
	display: block! important;
	width: 85px;
	height: auto;
	padding: 0px 5px 0 5px! important;
	border-width : 1px;
}
#ProfileData ul li.diestats ul.shiplist li {
	border-color : #FBA6B0 #DF011C #DF0125 #DF011C;
	-moz-box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	-webkit-box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	background-color: #FCC2C9;
}
#ProfileData ul li.stats ul.shiplist li {
	border-color : yellow orange orange orange;
	-moz-box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	-webkit-box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	background-color: #FCF5C2;
}
#ProfileData ul li.diestats ul.shiplist li:hover,
#ProfileData ul li.stats ul.shiplist li:hover{
	background-color: #ECFFA2;
	border-color : #BCFFA2 #40E000 #49E000 #40E000;
	-moz-box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	-webkit-box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
}
