/* Tab */
#maptab {
	text-transform : none !important;
	background-image : url("/img/design/gold_tab.png");
}

/* Structure */
#map {
	margin: 1%;
	width: 98%;
	min-height: 1130px;
}
#map .column2 {
	margin-left: 260px;
}

/* Box */
.human {
	background-position : -2px -2018px !important;
}
#map td {
	vertical-align: top;
}
#map img {
	vertical-align: middle;
}
#map .column {
	position: absolute;
}
#map .column ul {
	padding: 15px;
}
#map .empty_tid {
	width: 260px;
}
#map .tid_bubble {
	max-width: 238px;
	max-height: 65px;
}
#map .tid_bgRight {
	height: 199px;
}
#map .bgtablesummar {
	padding-top: 1px;
	padding-bottom: 1px;
	position: relative;
	margin-bottom: 15px;
}
#map .awards {
	margin-top : 20px;
}
#map ul {
	text-align : center;
	border-top : 1px solid #576077;
}
#map ul li {
	display : inline-block;
	zoom : 1;
	*display : inline;
	border-style : solid;
	border-radius : 3px;
	-moz-border-radius : 3px;
	-webkit-border-radius : 3px;
}
h4.ul_title {
	margin-bottom : 4px;
	margin-top : 2px;
}
.nshipinput	{ width : 35px; height : 16px; padding-right : 3px; text-align : right; background : transparent; cursor : pointer;
			border: 1px inset; border-color : #4e5162; font-size : 15px; color : #FEB500; }
.nshipinput:hover { border : 1px inset; border-color : white; color : white; }
.nshipinput:focus { background-color : #FE7D00; border : 1px inset; border-color : #FEB500; color : white; }
.bodychar {
	position : relative;
	opacity : 1;
	width : 28px;
	height : 44px;
	background : url('http://mush.twinoid.es/img/art/char.png') no-repeat;
	z-index : 4;
}
#mapdata > ul, ul.tabletitle {
	padding : 0px 0px 15px 0px;
}
#map ul li.goldstat {
	border-width : 1px;
	border-color : yellow orange orange orange;
	-moz-box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	-webkit-box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	background-color : #FCF5C2;
	color : #090a61;
	font-size : 100%;
	width : 80px;
	padding : 9px 9px 9px 9px;
	margin : 4px 4px 4px 4px;
	font-variant : small-caps;
}
#map ul li.redstat > div,
#map ul li.bluestat > div {
	margin : 0 26px;
}
#map ul li.redstat > div > div,
#map ul li.bluestat > div > div {
	width : 80px;
	position : relative;
	left : -26px;
	top : 16px;
}
#map ul li.bluestat {
	border-width : 1px;
	border-color : #A6EEFB #01c3df #01c3df #01c3df;
	-moz-box-shadow : inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	-webkit-box-shadow : inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	box-shadow : inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	background-color : #c2f3fc;
	color : #090a61;
	font-size : 100%;
	width : 80px;
	margin : 4px 4px 4px 4px;
	font-variant : small-caps;
	padding : 6px 9px 6px 9px;
}
#map #dies-stats > li {
	height : 92px;
	vertical-align : bottom;
}
#map ul li.redstat {
	border-width : 1px;
	border-color : #FBA6B0 #DF011C #DF0125 #DF011C;
	-moz-box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	-webkit-box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	background-color : #FCC2C9;
	color : #090a61;
	font-size : 100%;
	width : 80px;
	margin : 4px 4px 4px 4px;
	font-variant : small-caps;
	padding : 6px 9px 6px 9px;
}
#mapdata ul li.redstat:hover,
#mapdata ul li.bluestat:hover,
#mapdata ul li.goldstat:hover {
	background-color : #ECFFA2;
	border-color : #BCFFA2 #40E000 #49E000 #40E000;
	-moz-box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	-webkit-box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
}
.li_title {
	color : #fff;
	text-shadow :
		-1px -1px 2px black,
		1px -1px 2px black,
		1px 0 2px black,
		-1px 0 2px black,
		-1px 1px 2px black,
		1px 1px 2px black;
	font-weight : 900;
	font-size : 13px;
}
.death_text {
	font-size : 12px;
	width : 76px;
	padding : 0 2px;
}
.stroke {
	color : #ff4059;
	text-shadow :
		-1px -1px 5px blue,
		-1px 0px 5px blue,
		-1px 1px 5px blue,
		0px 1px 5px blue,
		0px -1px 5px blue,
		1px 1px 5px blue,
		1px 0px 5px blue,
		1px -1px 5px blue;
	font-weight : 600;
	font-size : 21px;
}
#map ul li.redstat div ul.shiplist,
#map ul li.bluestat div ul.shiplist,
#map ul li.goldstat div ul.shiplist {
	display : none;
}
#map ul li.redstat div ul.shiplist a.ship,
#map ul li.bluestat div ul.shiplist a.ship,
#map ul li.goldstat div ul.shiplist a.ship {
	display : block;
	width : 85px;
	height : 18px;
	font-size : 13px;
	text-decoration : none !important;
	font-variant : normal;
	color : #090a61;
	text-shadow : 1px 1px 5px #FFF;
}
#map ul li.redstat div ul.shiplist a.ship img.icon_char_ship,
#map ul li.bluestat div ul.shiplist a.ship img.icon_char_ship,
#map ul li.goldstat div ul.shiplist a.ship img.icon_char_ship {
	position : relative;
	top : -3px;
}
#map ul li.redstat div ul.shiplist a.ship:hover,
#map ul li.bluestat div ul.shiplist a.ship:hover,
#map ul li.goldstat div ul.shiplist a.ship:hover {
	color : #ff4059;
	text-shadow : 1px 1px 0px #000;
}
#mapdata ul li.redstat:hover > div ul.shiplist,
#mapdata ul li.bluestat:hover > div ul.shiplist,
#mapdata ul li.goldstat:hover > div ul.shiplist {
	display : block;
	position : relative;
	width : 102px;
	left : 85px;
	top : 0px;
	text-align : right;
	z-index : 50;
	max-height : 100px;
	overflow-x : hidden;
	overflow-y : auto;
	padding : 0px;
	border : 0px;
}
#mapdata ul li.redstat:hover > div ul.shiplist,
#mapdata ul li.bluestat:hover > div ul.shiplist {
	left : 60px;
}
#map ul li.redstat div ul.shiplist li,
#map ul li.bluestat div ul.shiplist li,
#map ul li.goldstat div ul.shiplist li{
	text-align : left;
	margin : 0px;
	display : block !important;
	width : 85px;
	height : auto;
	padding : 0px 5px 0 5px !important;
	border-width : 1px;
}
#map ul li.redstat div ul.shiplist li {
	border-color : #FBA6B0 #DF011C #DF0125 #DF011C;
	-moz-box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	-webkit-box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	box-shadow : inset 0px 0px 4px #FB3939, 0px 0px 4px #FB3939, 0px 2px 4px #FB3939;
	background-color : #FCC2C9;
}
#map ul li.bluestat div ul.shiplist li {
	border-color : #A6EEFB #01c3df #01c3df #01c3df;
	-moz-box-shadow : inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	-webkit-box-shadow : inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	box-shadow : inset 0px 0px 4px #3965fb, 0px 0px 4px #3965fb, 0px 2px 4px #3965fb;
	background-color : #c2f3fc;
}
#map ul li.goldstat div ul.shiplist li {
	border-color : yellow orange orange orange;
	-moz-box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	-webkit-box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	box-shadow : inset 0px 0px 4px goldenrod, 0px 0px 4px goldenrod, 0px 2px 4px goldenrod;
	background-color : #FCF5C2;
}
#map ul li.redstat div ul.shiplist li:hover,
#map ul li.bluestat div ul.shiplist li:hover,
#map ul li.goldstat div ul.shiplist li:hover {
	background-color : #ECFFA2;
	border-color : #BCFFA2 #40E000 #49E000 #40E000;
	-moz-box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	-webkit-box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
	box-shadow : inset 0px 0px 4px #56FF35, 0px 0px 4px #56FF35, 0px 2px 4px #56FF35;
}
.mask {
	margin-left: -32px;
}
.opt_act {
	margin-left: -18px !important;
}
div.links {
	height : 0px;
}
div.links > ul::-webkit-scrollbar {
	width : 3px;
}
div.links > ul::-webkit-scrollbar-button {
	width : 0px;
	height : 0px;
}
div.links > ul::-webkit-scrollbar-thumb {
	background : #1A1B57;
}
div.links > ul::-webkit-scrollbar-track {
	background : #576077;
}
/* Slider CSS */
#map .ui-widget-content {
	border: none !important;
	background: none !important;
	color: #fff;
}
#map .map-slider {
	display: inline-block;
	width: 90%;
	height: 17px;
	margin-top: 3px;
	margin-left: 10px;
}
#map .ui-slider-range {
	background: transparent url("https://res.cloudinary.com/javiernh/image/upload/map/xp_completion_fill.png") no-repeat center top;
/*	height: 17px !important;
*/	margin-left: 4px;
	font-size: .8em;
	padding-top: .3em;
}
#map [class^=map-handle-]{
	color: white;
	width: 25px !important;
	border: none !important;
	padding-top: 1.9em;
	background: none !important;
}
#map .map-handle-left{
	margin-left: -20px !important;
	text-align: right;
}
#map .map-handle-right{
	margin-left: 0px !important;
	text-align: left;
}
#map .compframe {
	width: 290px;
	height: 34px;
	background: transparent url("https://res.cloudinary.com/javiernh/image/upload/map/xp_completion.png") no-repeat left top;
	padding-top: 1px;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
}
